/*===========================================
   imports
 ===========================================*/

@import "framework.scss";

/*===========================================
   general
 ===========================================*/

body {
  font-size: 16px;
  font-family: Arial;
}

.wrapper {
  max-width: 1320px;
  margin: auto;
}

@include keyframes(food) {
  0% {
    transform: scale(.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(.9);
  }
}

/*===========================================
   header
 ===========================================*/

/*===========================================
   game screen
 ===========================================*/

.gameScreen {
  &__title {
    height: 2.5em;
    background-color: $blue_title;
    text-align: center;
    font-size: 1.5em;
    line-height: 2.5em;
    font-style: italic;
  }
  &__table {
    border: 3px solid $dimGrey_7;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(60, 1fr);
  }
  &__cell {
    padding-bottom: 100%;
    outline: .1px solid $white_AliceBlue;
    outline-offset: -.1px;
    font-size: 7px;
    &.snake {
      background-color: $red_snake;
      &.snakeHead {
        background-color: $red_snakeHead;
      }
    }
    &.food {
      background-color: #9cd220;
      transform: scale(.9);
      -webkit-animation: food 2s infinite;
      animation: food 2s infinite;
    }
  }
}

.buttonPanel {
  margin-top: 1em;
  text-align: center;
}

.colorSelect_block{
  ul{
    @include flex_display;
    @include flex_wrap();
    margin: -5px;
    li{
      width: 20px;
      height: 20px;
      margin: 5px;
      cursor: pointer;
      @include animate();
      @include rounded(4px);
      @include box-shadow(0,0,4px,1px, $dimGrey_7);
      &.selected{
        @include scale(1.3);
      }
    }
  }
}

/*===========================================
   aside
 ===========================================*/

.snakeLevel,
.snakeLength {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__title {
    width: 100%;
    text-align: center;
  }
  button{
    width: 30%;
  }
  input{
    width: 30%;
    text-align: center;
  }
}

.snakeLength{
  input{
    width: 100%;
  }
}

/*===========================================
   footer
 ===========================================*/

/*===========================================
   imports
 ===========================================*/

@import "mediaqueries.scss";
